// MediaQueries
$phone: 480px;
$tablet: 768px;
$desktop: 1024px;
$desktopXL: 1280px;

// Fonts
$primary-font: "Roboto", sans-serif;

// Colors
$primary-color: #f46669;
$secondary-color: #c7c57d;
$black: #111;
$white: #ffffff;
$gray: #f5f5f5;
